<h1>Landmarks</h1>

<% @landmarks.each do |landmark| %>
  <h2><%= landmark.name %></h2>
  <p>Year Completed: <%= landmark.year_completed %></p>
  <a href="/landmarks/<%= landmark.id %>">View</a>
  <a href="/landmarks/<%= landmark.id %>/edit">Edit</a>
<% end %>