<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>

<a href="/landmarks">Back to All Landmarks</a>
